TEST NOTES

In [17]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

Formatting

In [19]:
mag = 109.9868
rmag = np.round(mag,2)
print(f'Mag = {mag}{rmag}')
print('Mag = %.3f'%mag,'%4.2f'%mag)

Mag = 109.9868109.99
Mag = 109.987 109.99

Loops

In [ ]:
for i in range(11):  #i = 0 to 10
    print(i)         
i=0
while i <11:
    print(i)
    i+=1x

In [ ]:
range(start, end, step)
np.

In [28]:
new = [n for n in range(6,1,-1)]
print(new)

[6, 5, 4, 3, 2]

Getting input

In [30]:
num = int(input('Number:'))

Number:1

Lists

In [206]:
numbers = [1,1,5,8,8,9,2,4,1,34,5]
fruits = ['ham', 'cheese']
hello = ['h']
new = [n for n in range(6,1,-1)]  
fruits.append('lettuce')
numbers.pop()            # or put a number an index number to remove 
hello.extend(['e','l'])
hello = hello + ['l','o'] # adds to the end of the list
nested = [[2,24],[1]]

print(fruits)
print (len(fruits))
print(numbers)
print (numbers.index(5,2,4)) # returns the index of #5 between indexes 2-4
numbers.insert(4,12)     # at index 4 insert 12 permanently into list 
numbers.remove(8)        # will remove the first 8 permanently from list
print (numbers)
print(new)
print(hello)
hello.clear()            # clears list
print(hello)
print(numbers.count(1))  # counts how many 1's are in the list
numbers.sort()           # changes the list by sortingthem, put "reverse = True"
print(numbers)
print(sorted(numbers, reverse=True))   # temporarilly sorted
print(max(numbers), min(numbers), sum(numbers))
print(nested)
print(numbers)
print(numbers[1:3:1])   # from index 1 to 3 (doesn't include 4th index)
type(numbers)           # list

['ham', 'cheese', 'lettuce']
3
[1, 1, 5, 8, 8, 9, 2, 4, 1, 34]
2
[1, 1, 5, 12, 8, 9, 2, 4, 1, 34]
[6, 5, 4, 3, 2]
['h', 'e', 'l', 'l', 'o']
[]
3
[1, 1, 1, 2, 4, 5, 8, 9, 12, 34]
[34, 12, 9, 8, 5, 4, 2, 1, 1, 1]
34 1 77
[[2, 24], [1]]
[1, 1, 1, 2, 4, 5, 8, 9, 12, 34]
[1, 1]

list

Arrays

In [204]:
start = 0
stop = 20
step = 2
rows = 2
columns = 4
matrix_size = 3
num_points = 8
array = np.arange(start, stop, step)  #array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])
np.linspace(start, stop, num_points)
    #  array([ 0.        ,  2.85714286,  5.71428571,  8.57142857, 11.42857143,
    #         14.28571429, 17.14285714, 20.        ])
np.logspace(start, stop, num_points)
    #  array([1.00000000e+00, 7.19685673e+02, 5.17947468e+05, 3.72759372e+08,
    #         2.68269580e+11, 1.93069773e+14, 1.38949549e+17, 1.00000000e+20])
np.zeros(4)                   # array of 4 zeroes
np.zeros((rows,columns))      # array([[0., 0., 0., 0.],
                              #        [0., 0., 0., 0.]])
np.ones(5)                    # array([1., 1., 1., 1., 1.])
np.eye(matrix_size)           # identity matrix
np.logspace(1, 2, 2)       
array_reshaped = array.reshape(5,2) # changes array to 5 rows 2 columns but not premanently
array.shape                   # returns the shape of the array
np.max(array_reshaped), array.max() # both will return the max  in the array
np.min(array_reshaped), array.min() # both will return the max  in the array
np.argmax(array_reshaped), np.argmin(array)  # will return the index of max/min in array
array_reshaped                #  [[ 0  2]
                              #   [ 4  6]
                              #   [ 8 10]
                              #   [12 14]
                              #   [16 18]]
array_reshaped.sum(axis=0)    # sums the elements in the columns: [40 50]
array_reshaped.sum(axis=1)    # sums the elements in the rows: [ 2 10 18 26 34]

array[2:5:1]      # [4 6 8]
array[array>3]    # array([ 4,  6,  8, 10, 12, 14, 16, 18])
array_copy = array.copy()  # array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])
slice_of_array = array[2:4]   # array([4, 6])
slice_of_array[:]=200     # slice_of_array = array([200, 200])
                          #  but also changes original 
                          #  array([  0,   2, 200, 200,   8,  10,  12,  14,  16,  18])
array_2 = np.random.randint(1,10, [6,5])
array_2[:3, 2:]           # row: beginning to 2, column: 2 to the end
type(array)    # numpy.ndarray
array.dtype    # dtype('int64')

dtype('int64')

In [81]:
# Dictionary
tel = {'jack':2099}
# Tuple
tup=(122449,2345)
print(tel['jack'], tup[1])

2099 2345

Functions

In [89]:
lst = [1,4,5,6]
def sum_finder(*args):    # if you don't know the number of variables
    return sum(args)      # adding all the variables passed into the funcion

def sum_2(lst):           # add the elements of the list passed into the function
    summ = 0
    for n in lst:
        summ = summ + n
    return summ
print(sum_finder(1,2,3,4), sum_finder(*lst), sum_2(lst))

10 16 16

In [104]:
x = lambda a, b, c: a+b+c                      #
print (x(1,2,3))                               
lst_2 = [1,3,4]
print(list(map(lambda z: z*2, lst_2)))         # doubles all list elements 
print([n*2 for n in lst_2 ])                   # doubles all list elements 
print(list(filter(lambda z: z%2==0, lst_2)))   #filters out only even numbers

6
[2, 6, 8]
[2, 6, 8]
[4]

In [102]:
lst_3 = [True, False]
print(any(lst_3), all(lst_3)) # any trues? all trues?

True False

Recalling a package file (functions defined in a separate .py file)

In [108]:
import func as f
from func import double
print(f.add(3,4))     # must add package name before function
print(double(4))         # no need to add package name since it was specifically added

7
8

Randomizing

In [147]:
import random

# lists
print (random.choice(lst_2))# randomly chooses an element in list
random.shuffle(lst_2)       # permanently reorganizes randomly 
print(lst_2)

# arrays
np.random.seed(100)   # so the random number seed start the same each time
np.random.rand(5,3)   # 5 rows and 3 columns of  random numbers from 0 to 1
np.random.randn(5)  # 5 random numbers from -1 to 1 normally distributed
np.random.randint(1,10, 5) # 5 random integers between 1 and 10
np.random.randint(1,10, [3,3])   # random integers filling 3x3

3
[4, 3, 1]

array([[0.74872996, 0.71048062, 0.61983004],
       [0.49440113, 0.25650299, 0.72337128],
       [0.46093532, 0.4202215 , 0.42437593],
       [0.88712102, 0.95768846, 0.98757802],
       [0.73777939, 0.06694681, 0.02830021]])

Pandas

Series

In [212]:
lst_data1 = [1,3,6]
lst_index1 = ['pt1', 'pt2', 'pt3']
series1 = pd.Series(data=lst_data1, index = lst_index1)

In [214]:
lst_data2 = [3,5]
lst_index2 = ['pt1', 'pt3']
series2 = pd.Series(data=lst_data2, index = lst_index2)
series1+series2

pt1     4.0
pt2     NaN
pt3    11.0
dtype: float64

DataFrame

In [218]:
lst_columns = ['X', 'Y', 'Z']
position = np.random.randn(3,3)
df = pd.DataFrame(data= position, index = lst_index1, columns = lst_columns)
df

            X         Y         Z
pt1  0.553792 -0.452448  0.746140
pt2 -0.877445  0.611631  0.415177
pt3  1.146209 -0.600794  0.667518

In [219]:
df['X']   # returns every thing in that column

pt1    0.553792
pt2   -0.877445
pt3    1.146209
Name: X, dtype: float64

In [220]:
df[df['X']>0]   # gives all rows of X that are greater than 0, and all columns subseqent

            X         Y         Z
pt1  0.553792 -0.452448  0.746140
pt3  1.146209 -0.600794  0.667518

In [221]:
df[(df['X']>0) & (df['Z']<.7)]

            X         Y         Z
pt3  1.146209 -0.600794  0.667518

In [234]:
df['K'] = df['X']*2
df

            X         Y         Z         K
pt1  0.553792 -0.452448  0.746140  1.107583
pt2 -0.877445  0.611631  0.415177 -1.754891
pt3  1.146209 -0.600794  0.667518  2.292417

In [235]:
df.drop('K', axis=1, inplace=True)
df

            X         Y         Z
pt1  0.553792 -0.452448  0.746140
pt2 -0.877445  0.611631  0.415177
pt3  1.146209 -0.600794  0.667518

In [236]:
df.loc['pt1']   # returns everthing in that row.

X    0.553792
Y   -0.452448
Z    0.746140
Name: pt1, dtype: float64

In [243]:
x = np.linspace(1,20,500)+np.random.randn(500)
X = np.array(x).reshape(-1,1)

In [256]:
df.loc[df.index != 'pt1',df.columns != 'Z']

            X         Y
pt2 -0.877445  0.611631
pt3  1.146209 -0.600794